.FooterWidgetArea{
    .widget_categories{
        display: flex;
        flex-direction: column;
        .wp-block-categories{
            .cat-item{
                color:white;
                transition: all 0.5s;
                a{
                    transition: all 0.5s;
                    color: white;
                }
            }
            .cat-item:hover{
                a{
                    color:#c7a770;
                }
            }
        }
    }
}