.site-info{
    padding: 1rem;
    color: white;
    background-color: #17141f;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .ListSocial{
        display: flex;
        justify-content:center;
        gap: 0.5rem;
        .SocialListItemRedirect > img{
            width: 1rem;
        }
        .SocialName{
            display: none;
        }
    }
}