.FooterWidgets{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.widget_tag_cloud{
    list-style: none;
}
.FooterWidgetArea{
    display: grid;
    grid-template-areas:"tags"
                        "categorias"
                        "recientes";
    gap: 1rem;
    a{
        color: white;
    }
}

@media only screen and (min-width: 720px){
    .FooterWidgetArea{
        display: grid;
        grid-template-areas:"tags tags"
                            "categorias recientes";
        width: 80%;
    }
}

@media only screen and (min-width: 1100px){
    .FooterWidgets{
        flex-direction: row;
    }
}