.site-footer{
    background-color: #262626;
    transition: all 0.5s;
}
.site-info{
    padding: 1rem;
    color: white;
    background-color: #262626;
    transition: all 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px solid #222;
    .ListSocial{
        display: flex;
        justify-content:center;
        gap: 0.5rem;
        .SocialListItemRedirect > img{
            width: 1rem;
        }
        .SocialName{
            display: none;
        }
    }
}
@media only screen and (min-width: 1020px){
    .site-footer{
        width: 100%;
    }
}