.DarkMode{
    .site-header{
        background-color: #111;
        transition: all 0.7s;
        box-shadow: 0 0.1rem 0.5rem rgba(255,255,255,0.3);
    }
    .DarkModeButton::before{
        content: url('https://i.postimg.cc/KvjKRwGh/sun.png');
        transition: all 0.5s;
    }
    .site-footer{
        background-color: #111;
        transition: all 0.7s;
    }
    .site-info{
        background-color: #111;
        transition: all 0.7s;
    }
    .SocialList{
        background-color: #111;
    }
}