.DarkMode{
    .wp-block-latest-posts{
        a{
            color:white;
        }
    }
    .wp-block-categories{
        a{
            color:white;
        }
    }
    .wp-block-search__button-inside{
        .wp-block-search__inside-wrapper{
            .wp-block-search__input{
                background-color: transparent;
                color: white;
            }
        }
    }
    .wp-block-search{
        .wp-block-search__button{
            svg{
                fill: white;
            }
        }
    }
    .HomeWidgetsArea{
        .widget_categories{
            .wp-block-categories{
                .cat-item{
                    color: white;
                    a{
                        color: white;
                    }
                }
            }
        }
    }
    .ArchiveWidgetsArea{
        .widget_categories{
            .wp-block-categories{
                .cat-item{
                    color:white;
                    a{
                        color: white;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1020px){
    .DarkMode{
        .HomeWidgetsArea{
            .widget_categories{
                .wp-block-categories{
                    .cat-item:hover{
                        color: #c7a770;
                        a{
                            color: #c7a770;
                        }
                    }
                }
            }
        }
        .ArchiveWidgetsArea{
            .widget_categories{
                .wp-block-categories{
                    .cat-item:hover{
                        color: #c7a770;
                        a{
                            color: #c7a770;
                        }
                    }
                }
            }
        }
    }
}