*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.WrapperBody{
    background-color: #FBFBFB;
    transition: all 0.7s;
}


@media only screen and (min-width: 1020px){

    .site{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .site-main{
        width: 80%;
    }

}
