.WrapperSingleWidgets{
    .SingleWidgetsArea{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .widget_recent_entries{
            .wp-block-latest-posts{
                display: flex;
                flex-direction:column;
                gap: 0.5rem;
                transition: all 0.5s;
                font-size: 0.85rem;
                a{
                    font-size: 0.85rem;
                    font-weight: bold;
                    transition: all 0.5s;
                }
            }
        }
        .widget_categories{
            .wp-block-categories{
                display: flex;
                flex-direction: column;
                gap:0.5rem;
                .cat-item{
                    transition: all 0.5s;
                    font-size: 0.85rem;
                    font-weight: bold;
                    a{
                        font-weight: bold;
                        font-size: 0.85rem;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1020px){
    .WrapperSingleWidgets{
        box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.4);
        padding: 0.5rem 1rem;
        border-left: 1px solid rgba(0,0,0,0.4);
        border-top: 1px solid rgba(0,0,0,0.4);
        position: sticky;
        top: 1rem;
        height: max-content;
        width: 25%;
        .SingleWidgetsArea{
            .widget_recent_entries{
                .wp-block-latest-posts{
                    li:hover{
                        color:#c7a770;
                        a{
                        color:#c7a770;
                        }
                    }
                }
            }
            .widget_categories{
                .wp-block-categories{
                    .cat-item:hover{
                        color:#c7a770;
                        a{
                            color:#c7a770;
                        }
                    }
                }
            }
        }
    }
}