.site-header{
    display: flex;
    align-items: center;
    background-color: #A1CAE2;
    justify-content: space-around;
}
.MenuNavDesktop{
    display: none;
}

@media only screen and (min-width: 1100px){
    .MenuNavDesktop{
        display: flex;
        gap: 2rem;
        .menu-item{
            a{
                text-transform: uppercase;
                color: #1597E5;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
    }
}
