.Dropdown{
    display: none;
}
.site-header{
    display: flex;
    align-items: center;
    background-color: #262626;
    justify-content: space-around;
}
.MenuNavDesktop{
    display: none;
}

@media only screen and (min-width: 1100px){
    .Dropdown{
        display: block;
    }
    .HeaderMenu{
        display: flex;
        gap: 1rem;
    }
    .MenuNavDesktop{
        display: flex;
        gap: 1rem;
        .menu-item{
            height: 100%;
            display: flex;
            justify-content: center;
            transition: all 0.5s;
            padding: 0 0.5rem;
            a{
                text-transform: uppercase;
                color: #fff;
                font-weight: bold;
                height: 100%;
                line-height: 8rem;
            }
        }
        .menu-item:hover{
            a{
                color:#c7a770;
            }
        }
    }
    .DropdownSocialList{
        color: #fff;
        border: none;
        background-color: transparent;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        height: 100%;
        line-height: 8rem;
        font-size: 1rem;
    }
    .SocialList{
        display: none;
        position: absolute;
        background-color: #262626;
        opacity: 0;
        animation: list 0.7s forwards 1;
        .ListSocial{
            .SocialListItem{
                border-bottom: 1px solid white;
            }
            .SocialListItemRedirect{
                display: flex;
                gap: 0.5rem;
                align-items: center;
                color: #fff;
                padding: 1rem;
                font-weight: bold;
            }
            .Facebook:hover{
                background-color: #3b5998;
            }
            .Twitter:hover{
                background-color:#00acee;
            }
            .Instagram:hover{
                background-color: #c13584;
            }
        }
    }
    .DropdownMenuItem{
        height: 100%;
        display: flex;
        justify-content: center;
        transition: all 0.5s;
        padding: 0 0.5rem;
    }
    .DropdownSocialList:hover{
        color:#c7a770;
    }
    .Dropdown:hover{
        .SocialList{
            display: block;
            z-index: 40;
        }
    }
}

@keyframes list{
    0%{
        transform: translate3d(0, 22px, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
